
.tocify {
    color: rgb(0,101,189);
}


.tocify .tocify-item a, .tocify .list-group-item {
    /* padding: 5px; */
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.tocify-item .active{
  /*color: black;*/
  background-color: #d9effc;
}

.tocify-item.active, .tocify-item.active:focus, .tocify-item.active:hover {
    z-index: 2;
     color: rgb(0,101,189);
    background-color: #d9effc;
    border-color: #d9effc;
    
}


}
.tocify-subheader > .tocify-item {
  text-indent: initial;
  padding-left: 2em;

}

.tocify-header > .tocify-item {
  text-indent: initial;
  padding-left: 6px;

}

<!important-- remove the large white space between end of page and the footnotes -->
.tocify-extend-page {
  height: 0px !important;
}


.exporting_chart_class .highcharts-background {
  fill: white;
  background-color: white;
  
}



.footnotes.footnotes-end-of-document{
  margin-left: 24px;
  margin-right: 24px;
  
}

/* Generic css styles */

.mt-6 {  margin-top: 6px; }
.mt-3 {  margin-top: 3px;}
.mb-3 {  margin-bottom: 3px;}
.mb-6 {  margin-bottom: 6px;}


.highcharts-container {
  margin: 0 auto;
}

/*
these remove padding from the toc, and make it sticky
combination of both make it possible to see long menu's 
on most screens
*/
.ds_side-navigation {
position: sticky;
top: 10px;
}

nav.ds_side-navigation ul > li > a
{

padding: 0px;
padding-top: 3px;
padding-bottom: 3px;
}

@media only screen and (max-height: 800px) {
 nav.ds_side-navigation ul > li > a
{

padding: 0px;

}
}



/* styles for captins */

.df-caption {
/*color: darkgrey; */
display: flex;
margin-top: 12px;
margin-bottom: -12px;
}



.df-caption>div {
display: inline-block;
}
.df-caption .df-prefix {
font-weight: bold;
}

.df-fig { }

.df-tab { }


table.table-sites-input tr:nth-child(3),
table.table-sites-input tr:nth-child(6){
  font-weight: bold;
 
}

table.table-sites-input tr:nth-child(3) td:nth-child(1), 
table.table-sites-input tr:nth-child(6) td:nth-child(1){
  padding-left: 24px;
}



/*
indicator triangles for collapsible paragraphs
the markup must be in format
<details>
<summary><div class="indicator"></div>Summary text here</summary>

Details here

</details>

*/


details summary div.indicator  {
display: inline-block;
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid black;
}

details[open] summary div.indicator  {

   width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
}
